In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns
import matplotlib.pylab as plt

from sklearn.model_selection import train_test_split

In [2]:
train_data = pd.read_csv("data/Train.csv")
test_data = pd.read_csv("data/Test.csv")

In [3]:
X_train = train_data.iloc[:,:9]
y_train = train_data.iloc[:,9:10]

X_test = test_data.iloc[:,:9]
y_test = test_data.iloc[:,9:10]

In [ ]:
# X_train, X_dev, Y_train, Y_dev = train_test_split(X, y, test_size=0.2, random_state=2)

In [4]:
def one_hot_encoding(df):

    # One hot encoding
    innings1 = pd.get_dummies(df.Team1_Innings, prefix='innings1')
    innings2 = pd.get_dummies(df.Team2_Innings, prefix='innings2')
    month = pd.get_dummies(df.MonthOfMatch, prefix='month')
    venu1 = pd.get_dummies(df.Team1_Venue, prefix='venu1')
    venu2 = pd.get_dummies(df.Team2_Venue, prefix='venu2')
    X_train_filtered = df.filter(items=['Team1', 'Team2', 'Stadium', 'HostCountry'])

    X_train_encoded = pd.concat([X_train_filtered, month, innings1, innings2, venu1, venu2], axis=1)
    
    return X_train_encoded

In [5]:
X_train.corr()
# Team1 and HostCountry are highly correlated

                Team1     Team2   Stadium  HostCountry
Team1        1.000000 -0.136103 -0.155898     0.716406
Team2       -0.136103  1.000000  0.111457    -0.158594
Stadium     -0.155898  0.111457  1.000000    -0.059368
HostCountry  0.716406 -0.158594 -0.059368     1.000000

In [6]:
from sklearn import svm
clf = svm.SVC()
X_train_encoded = one_hot_encoding(X_train)
clf.fit(X_train_encoded, y_train)

/opt/study/lib/python3.7/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

SVC()

In [7]:
X_test_encoded = one_hot_encoding(X_test)

In [8]:
prediction = clf.predict(X_test_encoded)

ValueError: X.shape[1] = 24 should be equal to 26, the number of features at training time

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test.to_numpy(), prediction, normalize=False)

In [13]:
train_data

,Team1,Team2,Stadium,HostCountry,Team1_Venue,Team2_Venue,Team1_Innings,Team2_Innings,MonthOfMatch,MatchWinner
0,5,4,37,4,Home,Away,Second,First,Dec,4
1,1,14,84,7,Neutral,Neutral,First,Second,Sep,1
2,9,15,47,9,Home,Away,First,Second,Feb,9
3,7,2,102,6,Home,Away,First,Second,Aug,2
4,6,8,46,5,Home,Away,First,Second,Aug,6
...,...,...,...,...,...,...,...,...,...,...
2503,5,15,89,3,Neutral,Neutral,Second,First,Jun,5
2504,1,14,138,0,Home,Away,First,Second,Jan,1
2505,14,5,135,15,Home,Away,Second,First,Apr,14
2506,15,14,64,16,Home,Away,First,Second,Nov,14
2507,1,10,111,0,Home,Away,Second,First,Jan,1

In [12]:
from category_encoders.leave_one_out import LeaveOneOutEncoder

ModuleNotFoundError: No module named 'category_encoders'